td a, td a:visited {
    color: #ffff00;
}

td a:hover, td a:focus {
    border-bottom: 1px solid #ffff00;
}

table {
    overflow: auto;
    width: 100%;
    max-width: 17.5rem;
    height: 12.5rem;
    display: block;
    margin: 0 auto;
    border-spacing: 0;
}

.resources td, .resources th {
    padding: .5rem;
    text-align: center;
    background-color: #008651;
    color: #ffff00;
    border: 1px solid #004e2f;
}

.table, h2, p {
    margin: 1rem auto;
    text-align: center;
}

@media (min-width: 40em) {
    .container {
        max-width: 50rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 0 auto 8rem auto;
    }

    table {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
}

h3 {
    color: #ffff00;
    text-decoration: none;
    margin: 0 auto;
}

form {
    max-width: 17.5rem;
    margin: 1rem auto;
}

input[type="text"] {
    outline: 0;
    width: 95%;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
}

textarea {
    overflow: auto;
}

footer {
    position: fixed;
    bottom: 0;
}

footer ul {
    position: absolute;
}

.site-wrap {
    padding-bottom: 4rem;
}