td a, td a:visited {
    color: #ffff00;
}

td a:hover, td a:focus {
    border-bottom: 1px solid #ffff00;
}

table {
    max-width: 18rem;
    display: block;
    margin: 0 auto;
    border-spacing: 0;
}

td, th {
    padding: .5rem;
    text-align: center;
    background-color: #008651;
    color: #ffff00;
    border: 1px solid #004e2f;
}

.table, h2, p {
    margin: 1rem auto;
    text-align: center;
}

@media (min-width: 50em) {
    .container {
        max-width: 50rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 0 auto 8rem auto;
    }

    table {
        max-width: 100%;
    }
}

h3 {
    color: #ffff00;
    text-decoration: none;
    margin: 0 auto;
}

form {
    max-width: 18rem;
    margin: 1rem auto;
    text-align: left;
}

input[type="text"], input[type="name"], textarea {
    outline: 0;
    width: 95%;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

input[type="text"] {
    margin: 0 auto;
}

input[type="text"]:hover, 
input[type="text"]:focus,
textarea:hover,
textarea:focus {
    border: 1px solid #004e2f;
    background-color: #ffff00;
}

fieldset {
    border: none;
}

textarea {
    overflow: auto;
}

.site-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}