.table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

table, h2, p {
    text-align: center;
}

table {
    background-color: #008651;
    padding: 1rem;
}

th {
    color: #ffff00;
    padding: 1rem;
}

td {
    padding: 1rem;
    background-color: #ffff00;
    border: 1px solid #004e2f;
}

footer {
    position: fixed;
    bottom: 0;
}

.site-wrap {
    padding-bottom: 4rem;
}