body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Navigation */
a, a:visited {
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

nav li {
    list-style: none;
    padding: 1rem;
    color: #004e2f;
    background-color: #ffff00;
}

/* Header */
header {
    background-color: #008651;
}

h1 {
    color: #ffff00;
    max-width: 50%;
}

header img {
    max-width: 4rem;
    max-height: 4rem;
    padding: 1rem;
    padding-right: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

nav li {
    list-style: none;
    padding: 2rem;
    color: #004e2f;
    background-color: #ffff00;
}

.group {
    display: none;
}

button {
    border: none;
    padding: .5rem 1rem;
    color: #004e2f;
    background-color: #ffff00;
    margin-right: 1rem;
    border-radius: 10%;
}

@media(min-width: 40em) {
    .group {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

/* Main Content */
video, article img {
    max-width: 18.75rem;
}

/* Footer */
footer {
    color: #ffff00;
    background-color: #008651;
}

footer li {
    list-style: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
}

footer p {
    margin-right: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}