/* Typography */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Navigation */
a {
    text-decoration: none;
    text-align: center;
    padding: .25rem;
}

a, a:visited {
    color: #004e2f;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted #ffff00;
}

li {
    list-style: none;
}

.group li a {
    padding: 1rem;
}

button {
    background: transparent;
    border: none;
    margin: 2.75rem 1rem 0 0;
}

.group {
    background-color: #ffff00;
    border: 1px solid #004e2f;
}

#header-menu {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#header-menu.toggled {
    display: block;
    border: 1px solid #004e2f;
    padding: 0;
    margin: 0;
}

/* End Mobile Navigation */
@media(min-width: 40em) {
    button {
        display: none;
    }

    #header-menu {
        display: flex;
        position: revert;
    }

    .group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 2.4rem;
        margin: 0;
    }
}

/* Header */
header, footer {
    background-color: #008651;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.logo img {
    width: 6.25rem;
}

h1 {
    color: #ffff00;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

@media(min-width: 40em) {
    .logo img {
        width: 100%;
}

    h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }
}

/* Main Area */
.site-wrap {
    max-width: 90%;
    margin: 1rem auto;
}

h2 {
    border-bottom: 1px solid #004e2f;
    padding: 0 1rem;
}

p {
    padding: 0 1rem;
}

video, .site-wrap img {
    width: 100%;
}

/* Figure and Figcaption */
.picture {
    display: inline-block;
    text-align: center;
}

figure {
    width: 18rem;
    float: left;
    margin: 1rem 0 auto auto;
    border: 1px solid #004e2f;
}

@media(min-width: 40em) {
    .site-wrap {
        max-width: 60%;
    }

    .container, .places {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        margin: 1rem auto;
    }

    .places {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .article {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    video, .tram {
        grid-column: 3/5;
        grid-row: 1/3;
    }

    figure {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .right {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .roo {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .right-bottom {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .article-head {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .top-right {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .middle-left {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .middle-right {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .low-left {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .low-right {
        grid-column: 3/5;
        grid-row: 3/4;
    }

    figcaption {
        align-self: end;
        padding: 0 .25rem;
    }
}

/* Form Styling */
form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem .5rem;
    margin: 1rem auto;
    background-color: #008651;
    color: #ffff00;
    max-width: 25rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
}

/* Footer */
/* No idea why, but it looks fine on the home page, but messed up on Melbourne and Sydney even though the code is the same. */
.footer a {
    background-color: #008651;
    padding: 0;
}

footer {
    margin-top: 2rem;
    color: #ffff00;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
}

footer p {
    margin-right: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}